<div class="container mx-auto">
  <div class="mt-28">
  <h1 class="text-center font-semibold text-5xl">Thank you for visiting!</h1>
  <ul class="flex justify-center mt-5">
    <li>
      <a href="https://twitter.com/deuxn_ids">
        <img class="bg-gray-50 hover:bg-gray-400 p-1 rounded-full" src="../../../assets/link-icon/twitter.png" alt="twitter icon">
      </a>
    </li>
    <li class="ml-3">
      <a href="https://www.instagram.com/deuxn.ids/">
        <img class="bg-gray-50 hover:bg-gray-400 p-1 rounded-full" src="../../../assets/link-icon/instagram.png" alt="twitter icon">
      </a>
    </li>
    <li class="ml-3">
      <a href="https://github.com/DenysSkobalo">
        <img class="bg-gray-50 hover:bg-gray-400 p-1 rounded-full" src="../../../assets/link-icon/github.png" alt="twitter icon">
      </a>
    </li>
  </ul>
  </div>
</div>
