<header>
  <div class="mt-10 grid grid-cols-2 place-items-center gap-28">
    <div>
      <h1 class="text-6xl">NASA Everyday</h1>
      <p class="mt-4 max-w-md text-2xl">You can select a date and see a photo taken by NASA and read a description.</p>
      <div class="mt-5">
        <a class="bg-black text-white py-3 px-7 rounded" routerLink="/app">Get Started!</a>
        <a class="pt-10 ml-8 underline" routerLink="/how-work">How does this service work?</a>
      </div>


    </div>
    <div>
      <img class="rounded-full w-10/12" src="../../../assets/home-img.webp" alt="The Astronaut">
    </div>
  </div>
</header>

