<div *ngIf="nasaData" class="text-left mt-32 grid grid-cols-2 mx-36 container">
  <div class="mx-20 pt-4">
    <h1 class="text-5xl">{{nasaData.title}}</h1>
    <p class="mt-4">{{nasaData.date | date}}</p>
    <p *ngIf="nasaData.copyright" class="text-left"><span class="font-bold">Author: </span>{{ nasaData.copyright }}</p>
    <p class="mt-4">{{nasaData.explanation}}</p>
  </div>
  <div>
    <img [src]="nasaData.hdurl"
         *ngIf="nasaData.media_type === 'image'"
         [alt]="nasaData.title"
         class="object-contain rounded-xl w-7/12">
  </div>
</div>
