@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #000;
  --dark: #121212;
  --white: #FFF;
}

/* Webfont: MacPawFixelDisplay-SemiBold */
@font-face {
  font-family: 'MacPawFixelDisplaySemiBold';
  src: url('fonts/MacPawFixelDisplay-Regular.woff2') format('woff2'), /* Modern Browsers */
  url('fonts/MacPawFixelDisplay-Regular.otf') format('opentype'); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "MacPaw Fixel Display Regular", sans-serif;
  background-color: var(--white);
  color: var(--black);
  button {
    background-color: var(--black);
    color: var(--white);
  }

  .nav-theme {
    background-color: #f9fafb;
  }
  .nav-link-theme {
    color: var(--black);
  }

  .menu-bg-theme {
    background-color: #e5e7eb;
  }
}



body.dark-theme {
  background-color: var(--dark);
  color: var(--white);
  button {
    background-color: var(--white);
    color: var(--black);
  }

  .nav-theme {
    background-color: #333333;
  }
  .nav-link-theme {
    color: var(--white);
  }

  .menu-bg-theme {
    background-color: #27272a;
    .menu-font-color {
      color: var(--white)
    }
  }
}

