<nav class="flex items-center justify-between flex-wrap p-6">
  <a routerLink="/" class="flex items-center flex-no-shrink mr-6">
    <img src="../../../assets/NASA_logo.ico" alt="Nasa Logo">
    <span class="font-semibold text-xl tracking-tight">Everyday</span>
  </a>
  <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
    <div class="text-sm lg:flex-grow mt-1">
      <a routerLink="/how-work" class="block mt-4 lg:inline-block lg:mt-0 hover:font-bold mr-4">
        How work?
      </a>
      <a routerLink="/app" class="block mt-4 lg:inline-block lg:mt-0 hover:font-bold mr-4">
        Application
      </a>
      <a routerLink="/contact" class="block mt-4 lg:inline-block lg:mt-0 hover:font-bold">
        Contact
      </a>
    </div>
    <label class="inline-flex relative items-center cursor-pointer">
      <input type="checkbox" class="sr-only peer" (click)="switchDarkTheme()" >
      <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
      <span class="ml-3 text-sm font-medium text-gray-900">Switch Theme</span>
    </label>
  </div>
</nav>
