<nav class="p-1.5 rounded-b-lg nav-theme">
  <div class="container flex flex-wrap items-center justify-between mx-auto">
    <a routerLink="/" class="flex items-center">
      <img src="../../../assets/NASA_logo.ico" class="h-6 mr-1 sm:h-9" alt="Nasa Everyday Logo"/>
      <span class="text-xl font-semibold">Everyday</span>
    </a>
    <button (click)="isVisibleMenu = !isVisibleMenu"
            class="md:hidden p-2 rounded-lg focus:outline-none focus:ring-2 focus:bg-gray-600">
      <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z">
        </path>
      </svg>
    </button>

    <!-- Desktop Version -->
    <div class="hidden w-full md:block md:w-auto">
      <ul class="flex flex-col p-4 md:flex-row space-x-8 mt-0 text-sm font-bold items-center">
        <li>
          <a routerLink="/app"
             class="text-black hover:text-blue-700 p-0 nav-link-theme">Application</a>
        </li>
        <li>
          <a routerLink="/docs"
             class="text-black hover:text-blue-700 p-0 nav-link-theme">Docs</a>
        </li>
        <li>
          <a routerLink="/contact"
             class="text-black hover:text-blue-700 p-0 nav-link-theme">Contact</a>
        </li>
        <label class="relative items-center cursor-pointer">
          <input type="checkbox" class="sr-only peer" (click)="switchDarkTheme()">
          <div
            class="w-11 h-6 peer-focus:outline-none peer-focus:ring-4
             rounded-full peer bg-gray-700 peer-checked:after:translate-x-full
             peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px]
             after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all
             border-gray-600 peer-checked:bg-blue-600">
          </div>
        </label>
      </ul>
    </div>

    <!-- Mobile Version -->
    <div *ngIf="isVisibleMenu" class="md:hidden w-full absolute nav-theme top-12 right-0 px-2 pb-2">
      <ul
        class="flex flex-col mt-4 rounded-b-lg menu-bg-theme ">
        <li>
          <a class="flex items-center block py-2 pl-3 pr-4 text-black font-bold menu-font-color"
             (click)="switchDarkTheme()">
            Switch Theme
          </a>
        </li>
        <li>
          <a routerLink="/"
             class="flex items-center block py-2 pl-3 pr-4 text-black font-bold menu-font-color">Home</a>
        </li>
        <li>
          <a routerLink="/app"
             class="flex items-center block py-2 pl-3 pr-4 text-black font-bold menu-font-color">Application</a>
        </li>
        <li>
          <a routerLink="/docs"
             class="flex items-center block py-2 pl-3 pr-4 text-black font-bold menu-font-color">Docs</a>
        </li>
        <li>
          <a routerLink="/contact"
             class="flex items-center block py-2 pl-3 pr-4 text-black font-bold menu-font-color">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
